body {
    margin: 0;
    padding: 0;
}
.container {
    width: 1150px;
    margin: auto;
}
.clear {
    clear: both;
}
/*** header section ***/
.header {
    width: 100%;
    height: 350px;
    background-color: rgba(83, 13, 118, 0.823);
}
.header .heading {
    width: 50%;
    float: left;
    margin-top: 8%;
    border-right: 1px solid #a7a5a5;
}
.header .heading h2 {
    width: 49%;
    font-size: 25px;
    line-height: 1.8;
    color: #fff;
}
.header .heading h2 span:hover {
    color: #00BC8A;
    cursor: pointer;
}
.header .Lorem {
    width: 40%;
    margin-left: 3%;
    margin-top: 8%;
    float: left;
}
.header .Lorem p {
    font-family: Arial;
    color: #a7a5a5;
    line-height: 1.8;
    font-weight: bold;
}
.header .Lorem button {
    border: none;
    background: none;
    color: #fff;
    font-size: 18px;
    background: #00BC8A;
    padding: 15px;
    border-radius: 50px;
    width: 300px;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
}
/*** second section ***/
.Magna {
    width: 100%;
    height: 350px;
    border-bottom: 1px solid darkgray;
    padding-top: 6%;
}
.Magna .learn {
    width: 50%;
    float: left;
    border-right: 2px solid #DDD;
}
.Magna .learn h2 {
    color: #777;
    font-family: Arial;
    text-decoration: underline;
}
.Magna .learn p {
    line-height: 1.9;
    font-family: Arial;
    color: #888;   
}
.Magna .learn button {
    border: none;
    background: #fff;
    border: 1px solid #DDD;
    padding: 15px;
    border-radius: 30px;
    width: 200px;
    color: #888;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}
.more {
    float: left;
    width: 40%;
    margin-left: 5%;
    visibility: hidden;
}
.more p {
    line-height: 2;
    font-family: Arial;
    font-weight: bold;
    color: #666;
}
.more i {
    padding-right: 25px;
    color: #00BC8A;
}
/*** third section ***/ 
.gallary {
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    background-color: #fbfbfb;
}
.gallary .part {
    padding-bottom: 50px;
    height: 350px;
}
.gallary .part img {
    width: 40%;
    float: left;
}
.gallary .part .details {
    width: 40%;
    float: left;
    padding-left: 8%;
    padding-top: 6%;
}
.gallary .part .details h2 {
    color: #777;
    font-family: Arial;
    text-decoration: underline;
}
.gallary .part .details p {
    color: #888;
    font-weight: bold;
    font-family: Arial;
    line-height: 2;
}
.gallary .part .details button {
    background-color: #fff;
    border: 1px solid #DDD;
    width: 200px;
    border-radius: 25px;
    padding: 15px;
    font-size: 18px;
    color: #777;
    text-transform: uppercase;
    cursor: pointer;
}
.gallary .part .details button:hover {
    background-color: #00BC8A;
    color: #fff;
}
/*** forth section ***/
.contact {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding-top: 5%;
    padding-bottom: 5%;
}
.contact .inputs {
    width: 50%;
    float: left;
    border-right: 2px solid #DDD;
}
.contact .inputs h2 {
    font-family: Arial;
    color: #777;
}
.contact .inputs p {
    font-family: Arial;
    font-weight: bold;
    line-height: 2;
    color: #888;
}
.contact .inputs input[type=text] , input[type=email]
{
    width: 250px;
    height: 35px;
    padding-left: 15px;
    margin-bottom: 8px;
    outline: none;
}
.contact .inputs textarea {
    width: 525px;
    padding-left: 15px;
}
.contact .inputs input[type=submit] {
    width: 200px;
    border-radius: 20px;
    border: 1px solid #DDD;
    padding: 15px;
    margin-top: 2%;
    outline: none;
    cursor: pointer;
    background-color: #fff;
    color: #666;
    font-family: Arial;
    font-weight: bold;
    text-transform: uppercase;
}
.contact .inputs input[type=submit]:hover {
    background-color: #00BC8A;
    color: #fff;
}
.contact .links {
    float: left;
    padding-top: 3%;
    padding-left: 3%;
}
.contact .links p {
    line-height: 2.5;
    cursor: pointer;
}
.contact .links p i {
    padding-right: 25px;
    color: #00BC8A;
    cursor: pointer;
}
/*** footer ***/ 
.footer {
    width: 100%;
    height: auto;
    border-top:1px solid #DDD ;
}
.footer p {
    text-align: center;
    line-height: 150px;
    font-family: Arial;
    color: #777;
    font-size: 15px;
    font-weight: normal;
}
/*** valid page ***/ 
.click{
   width: 100%;
   height: auto;
   margin-top: 20%;
   text-align: center;
}
.click button {
    background-color: #f0eded;
    color: #666;
    font-weight: bold;
    font-family: Arial;
    text-transform: uppercase;
    border-radius: 20px;
    width: 250px;
    padding: 20px;
    outline: none;
    cursor: pointer;
    border: none;
    border: 1px soild #DDD;
}
.click button:hover{
    background-color: #00BC8A;
    color: #fff;
}